# Ignore project files in the root
*.sln
*.suo
*.opensdf
*.sdf
*.xcodeproj
*.sublime-*

/Saved/**
/Intermediate/**
/Plugins/**/Intermediate/**
/Plugins/**/Binaries/**
/Binaries/Win64/*.exe
/Binaries/Win64/*.exp
/Binaries/Win64/*.lib
/Binaries/Win64/*.pdb
/Binaries/Win64/UE4Editor-ThoughtSpace.dll
/DerivedDataCache/**
/Images
/Videos

**.generated.h
**.response
**.DS_Store
